docs/n8n/espelho-ctwa.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "const b = $('Webhook').item.json.body; const m = b?.entry?.[0]?.changes?.[0]?.value?.messages?.[0]; return m?.referral?.source_id ? [{ json: { raw: JSON.stringify(b) } }] : [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [224, 64],
      "id": "c2000000-0000-4000-8000-000000000001",
      "name": "CRM filtrar e preparar"
    },
    {
      "parameters": {
        "action": "hmac",
        "type": "SHA256",
        "value": "={{ $json.raw }}",
        "dataPropertyName": "sig",
        "secret": "COLE-O-META_APP_SECRET",
        "encoding": "hex"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [448, 64],
      "id": "c2000000-0000-4000-8000-000000000002",
      "name": "CRM assinar"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://testeapi.gatewaygrupovitalmed.com.br/api/whatsapp/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-hub-signature-256",
              "value": "=sha256={{ $json.sig }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $('CRM filtrar e preparar').item.json.raw }}",
        "options": {
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [672, 64],
      "id": "c2000000-0000-4000-8000-000000000003",
      "name": "CRM espelhar ctwa",
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "CRM filtrar e preparar": {
      "main": [
        [
          {
            "node": "CRM assinar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM assinar": {
      "main": [
        [
          {
            "node": "CRM espelhar ctwa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
